<app-header></app-header>
<body class="d-flex flex-column min-vh-100">
  <section>
    <div class="image">
      <img
        src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png"
      />
    </div>

    <div class="content">
      <h2>About Us</h2>
      <span><!-- line here --></span>
      <p>
        The NGO DARPAN is maintained by NITI Aayog w.e.f. 1st January, 2015.
        NITI Aayog invites all Voluntary Organizations (VOs)/ Non-Governmental
        Organizations (NGOs) to Sign Up on the Portal.VOs/NGOs play a major role
        in the development of the nation by supplementing the efforts of the
        Government. This portal enables VOs/NGOs to enrol centrally and thus
        facilitates creation of a repository of information about VOs/NGOs,
        Sector/State wise. The Portal facilitates VOs/NGOs to obtain a system
        generated Unique ID, as and when signed. The Unique ID is mandatory to
        apply for grants under various schemes of
        Ministries/Departments/Governments Bodies.
      </p>
      <ul class="links">
        <li><a href="#">work</a></li>
        <div class="vertical-line"></div>
        <li><a href="#">service</a></li>
        <div class="vertical-line"></div>
        <li><a href="#">contact</a></li>
      </ul>
      <ul class="icons">
        <li>
          <i class="fa fa-twitter"></i>
        </li>
        <li>
          <i class="fa fa-facebook"></i>
        </li>
        <li>
          <i class="fa fa-github"></i>
        </li>
        <li>
          <i class="fa fa-pinterest"></i>
        </li>
      </ul>
    </div>
  </section>
</body>
<app-footer></app-footer>
