body {
  background: rgba(89, 47, 240, 0.799);
  color: #444;
  font-family: sans-serif;
}

#dir {
  color: #fefefe;
  text-decoration: none;
  transition: 0.5s;
}

#dir:hover, #dir:active, #dir:focus {
  color: #a28ef4;
  outline: none;
  text-decoration: none;
}


a{
  color: #fefefe;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #a28ef4;
  outline: none;
  text-decoration: none;
}


.search-btn {
  background-color:#fafaff;
}


.search-btn:hover {
  background-color:  #a28ef4;;
  transition: 0.7s;
  color: #fff;
}


#about{
  margin-top: 20px;
}
