<body>
  <app-header></app-header>

  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">
      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <!-- <img src="assets/img/hero-img.svg" alt="" class="img-fluid" /> -->
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          [zoomControl]="false"
          (mapClick)="mapClicked($event)"
        >
          <agm-marker
            *ngFor="let marker of markers; let i = index"
            (markerClick)="markerClicked(marker, i, infoWindowRef)"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [markerDraggable]="marker.draggable"
            (dragEnd)="markerDragEnd($event, i)"
          >
            <agm-info-window #infoWindowRef>
              <b>{{ marker.lat }}, {{ marker.lng }}</b>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>
          Sector wise
          <br /><span>
            <a id="dir" routerLink="/select-field">NGOS Directory</a> </span
          ><br />
        </h2>
        <div>
          <form (ngSubmit)="onSubmit()" #addTherapistForm="ngForm" novalidate>
            <div class="form-group col-md-4">
              <!-- <div class="form-group">
                <label style="color: #ffff">Select Country</label>
                <select
                  class="form-control"
                  (change)="onChangeCountry($any($event.target).value)"
                >
                  <option
                    *ngFor="let country of countryInfo; let i = index"
                    value="{{ i }}"
                  >
                    {{ country.CountryName }}
                  </option>
                </select>
              </div> -->

              <div class="form-group">
                <label style="color: #ffff">Select State</label>
                <select
                  class="form-control"
                  (change)="onChangeState($any($event.target).value)"
                >
                  <option *ngIf="stateInfo == ''" value="-1">
                    --Select State--
                  </option>
                  <option
                    *ngFor="let state of stateInfo; let j = index"
                    value="{{ j }}"
                  >
                    {{ state.StateName }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label style="color: #ffff">--Select City--</label>
                <select
                  class="form-control"
                  [(ngModel)]="region.place"
                  name="dropdownOption"
                  id="dropdownOption"
                  placeholder="Choose Region"
                >
                  <option
                    *ngFor="let city of cityInfo; let k = index"
                    value="{{ city }}"
                  >
                    {{ city }}
                  </option>
                </select>
              </div>

              <button type="submit" class="btn search-btn">Search</button>
            </div>
          </form>
        </div>
        <!-- <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>About Us</h3>
          <p>
            Welcome to NGO HUB, We gather NGO information under one portal that
            will serve the people in time of adversity.
          </p>
        </header>

        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              We intend to address a real-world issue by establishing a platform
              that will help public getting NGOs information at an instant when
              needed. It has been realised that residents of one city are
              unaware of local non-governmental organisations (NGOs) that can
              help them in an emergency. Accessing the appropriate NGO or making
              any form of contact is also difficult, and as a result, many
              people are unable to receive assistance, prompting us to create
              something that would connect NGOs with users. This is a two-way
              platform where non-profits can sign up and gain access to the
              features in their own dashboard. The pandemic has highlighted the
              importance of local non-governmental organisations (NGOs) in
              saving millions of lives, and in light of that impact, we are
              attempting to bridge the gap between people in need and
              organisations that can assist.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon">
                <i class="fa fa-check-circle"></i>
              </div>
              <h4 class="title"><a href="">NGOs Working in Your Area</a></h4>
              <p class="description">
                Find out about non-governmental organisations (NGOs) that are
                active in your area.
              </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fa fa-check-circle"></i></div>
              <h4 class="title"><a href="">Validated Information</a></h4>
              <p class="description">
                NGOs that are listed on the platform have been registered.
              </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fa fa-check-circle"></i></div>
              <h4 class="title">
                <a href="">Registered NGO can check request</a>
              </h4>
              <p class="description">
                NGOs can access the dashboard and view the request by logging in
                with the provided credentials.
              </p>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="assets/img/5236.jpg" class="img-fluid" alt="" />
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>OUR STORY</h4>
            <p>
              During the pandemic, we saw the role of individuals or
              organisations who voluntarily stepped forward to assist people who
              were going through a difficult time. The fact that many people
              were seen struggling to arrange blood or any other necessity for
              their family members was extremely painful, and many people still
              appear to struggle with this as they do not have a potential
              source who could assist them. This was the sole reason for
              creating such a platform.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="assets/img/66111.jpg" class="img-fluid" alt="" />
          </div>

          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-right"
          >
            <h4>OUR DREAM</h4>
            <p>
              Our goal is to have as many NGOs as possible registered on our
              portal. We intend to make all registered NGO contact information
              available to the public so that people can easily collaborate or
              communicate in times of need.
            </p>
            <p>
              The major goal was to develop a special and practical "NGO PORTAL"
              that stands out from other applications by offering superior
              quality and service. The proposed approach is intended to make it
              easier to find prospective assistance in an emergency.
            </p>
            <p>
              Together, we can transform our society into one that is more
              sustainable. Numerous NGOs step up freely to address social
              issues, but by recognizing those striving to improve living
              standards, advance society, and safeguard the environment, we may
              also join the team and contribute to a worthwhile cause. In a
              similar vein, we can readily contact NGOs when we need assistance.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Services</h3>
          <p>We provide information regarding NGOs available near your area.</p>
        </header>

        <div class="row justify-content-center">
          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-handshake-o" style="color: #ff689b"></i>
              </div>
              <h4 class="title"><a href="">Help</a></h4>
              <p class="description">
                Voluptatum deleniti atque corrupti quos dolores et quas
                molestias excepturi sint occaecati cupiditate non provident
              </p>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-paper-plane" style="color: #e9bf06"></i>
              </div>
              <h4 class="title"><a href="">Volunteer</a></h4>
              <p class="description">
                You can volunteer at any organisation who share the same motive
                as you.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-paw" style="color: #3fcdc7"></i>
              </div>
              <h4 class="title"><a href="">Collaborate</a></h4>
              <p class="description">
                Collaboration with team has been made easy and seamless.
              </p>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-thumbs-up" style="color: #41cf2e"></i>
              </div>
              <h4 class="title"><a href="">Contribute</a></h4>
              <p class="description">
                Even a small help counts. Contribute to any organization that
                might help them helping someone in need.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-trophy" style="color: #d6ff22"></i>
              </div>
              <h4 class="title"><a href="">Participate</a></h4>
              <p class="description">
                When teams organize any event or you want to contribute to
                society in any mannrer you can easily establish communication
                with the NGO and partcipate
              </p>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-5"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="box">
              <div class="icon">
                <i class="fa fa-users" style="color: #4680ff"></i>
              </div>
              <h4 class="title"><a href="">Find a friend</a></h4>
              <p class="description">
                During difficult times we help you connect to a friend who might
                help you get through the situation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <!-- <section id="why-us">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>
            Laudem latine persequeris id sed, ex fabulas delectus quo. No vel
            partiendo abhorreant vituperatoribus.
          </p>
        </header>

        <div class="row row-eq-height justify-content-center">
          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-calendar4-week"></i>
              <div class="card-body">
                <h5 class="card-title">Corporis dolorem</h5>
                <p class="card-text">
                  Deleniti optio et nisi dolorem debitis. Aliquam nobis est
                  temporibus sunt ab inventore officiis aut voluptatibus.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
              <i class="bi bi-camera-reels"></i>
              <div class="card-body">
                <h5 class="card-title">Voluptates dolores</h5>
                <p class="card-text">
                  Voluptates nihil et quis omnis et eaque omnis sint aut.
                  Ducimus dolorum aspernatur.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-chat-square-text"></i>
              <div class="card-body">
                <h5 class="card-title">Eum ut aspernatur</h5>
                <p class="card-text">
                  Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis
                  porro in non nemo ex.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row counters" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 col-6 text-center">
            <span
              data-purecounter-start="0"
              data-purecounter-end="232"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span
              data-purecounter-start="0"
              data-purecounter-end="421"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span
              data-purecounter-start="0"
              data-purecounter-end="1364"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span
              data-purecounter-start="0"
              data-purecounter-end="42"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Hard Workers</p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/1.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Environment</a></h4>
                <p>Environment</p>
                <div>
                  <a
                    href="assets/img/portfolio/app1.jpg"
                    data-gallery="portfolioGallery"
                    title="App 1"
                    class="portfolio-lightbox link-preview"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/2.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Nutrition</a></h4>
                <p>Nutrition</p>
                <div>
                  <a
                    href="assets/img/portfolio/web3.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Web 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/3.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Environment</a></h4>
                <p>Environment</p>
                <div>
                  <a
                    href="assets/img/portfolio/app2.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="App 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/4.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Education</a></h4>
                <p>Education</p>
                <div>
                  <a
                    href="assets/img/portfolio/card2.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Card 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/5.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Education</a></h4>
                <p>Education</p>
                <div>
                  <a
                    href="assets/img/portfolio/web2.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Web 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/6.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Education</a></h4>
                <p>Education</p>
                <div>
                  <a
                    href="assets/img/portfolio/app3.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="App 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/7.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4>
                  <a href="portfolio-details.html">Vocational Training</a>
                </h4>
                <p>Vocational Training</p>
                <div>
                  <a
                    href="assets/img/portfolio/card1.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Card 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/8.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4>
                  <a href="portfolio-details.html">Vocational Training</a>
                </h4>
                <p>Vocational Training</p>
                <div>
                  <a
                    href="assets/img/portfolio/card3.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Card 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/9.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Education</a></h4>
                <p>Education</p>
                <div>
                  <a
                    href="assets/img/portfolio/web1.jpg"
                    class="portfolio-lightbox link-preview"
                    data-gallery="portfolioGallery"
                    title="Web 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>Meet the members of NGOHUB</p>
        </div>

        <div class="row">
          <div
            class="col-lg-3 col-md-6"
            data-aos="zoom-out"
            data-aos-delay="100"
          >
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6"
            data-aos="zoom-out"
            data-aos-delay="300"
          >
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6"
            data-aos="zoom-out"
            data-aos-delay="400"
          >
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Our Clients</h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque dere santome nida.
          </p>
        </div>

        <div
          class="row g-0 clients-wrap clearfix"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-1.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-2.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-3.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-4.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-5.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-6.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-7.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img
                src="assets/img/clients/client-8.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0"
                style="border: 0; width: 100%; height: 340px"
                allowfullscreen
              ></iframe> -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7484.870413667867!2d85.85171452447743!3d20.282245445629968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a190a075fceec6b%3A0xd06d532a5ba63b32!2sBomikhal%2C%20Jharapada%2C%20Bhubaneswar%2C%20Odisha!5e0!3m2!1sen!2sin!4v1656062452506!5m2!1sen!2sin"
                frameborder="0"
                style="border: 0; width: 100%; height: 340px"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="bi bi-geo-alt"></i>
                <p>A108 Adam Street, NY 535022</p>
              </div>
              <div class="col-md-4 info">
                <i class="bi bi-envelope"></i>
                <p>info@example.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="bi bi-phone"></i>
                <p>+1 5589 55488 55</p>
              </div>
            </div>

            <div class="form">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" title="Send Message">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  <app-footer></app-footer>
</body>
