<app-header></app-header>

<section id="why-us" style="margin-top: 4%">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Sector Wise NGO Search</h3>
      <p>
        Select the sector to get information about the Ngos working on that
        particular sector.
      </p>
    </header>

    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">Agriculture</h5>
            <!-- <p class="card-text">
              Deleniti optio et nisi dolorem debitis. Aliquam nobis est
              temporibus sunt ab inventore officiis aut voluptatibus.
            </p> -->
            <a routerLink="/list-ngos-by-sector/001" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Biotechnology</h5>

            <a routerLink="/list-ngos-by-sector/003" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Disaster Management</h5>

            <a routerLink="/list-ngos-by-sector/008" class="readmore">Visit </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">Drinking Water</h5>

            <a routerLink="/list-ngos-by-sector/009" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Environment & Forest</h5>

            <a routerLink="/list-ngos-by-sector/012" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Health & Family Walefare</h5>

            <a routerLink="/list-ngos-by-sector/014" class="readmore">Visit </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">Labour & Employment</h5>

            <a routerLink="/list-ngos-by-sector/014" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Micro, Small & Medium Entreprises</h5>

            <a routerLink="/list-ngos-by-sector/014" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Nutrition</h5>

            <a routerLink="/list-ngos-by-sector/014" class="readmore">Visit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">
              Rural development and Poverty Alleviation
            </h5>

            <a routerLink="/list-ngos-by-sector/015" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Skill development</h5>

            <a routerLink="/list-ngos-by-sector/022" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Vocational Training</h5>

            <a routerLink="/list-ngos-by-sector/018" class="readmore">Visit </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-calendar4-week"></i>
          <div class="card-body">
            <h5 class="card-title">Women's Development and Empowerment</h5>

            <a routerLink="/list-ngos-by-sector/020" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-camera-reels"></i>
          <div class="card-body">
            <h5 class="card-title">Aged/Elderly</h5>

            <a routerLink="/list-ngos-by-sector/011" class="readmore">Visit </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-chat-square-text"></i>
          <div class="card-body">
            <h5 class="card-title">Children</h5>

            <a routerLink="/list-ngos-by-sector/004" class="readmore">Visit </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="section-bg">
  <div class="container" data-aso="zoom-in">
    <header class="section-header">
      <h3>Testimonials</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div
          class="testimonials-slider swiper"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="assets/img/testimonial-1.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec
                  porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                  eget id, aliquam eget nibh et. Maecen aliquam, risus at
                  semper.
                </p>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="assets/img/testimonial-2.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse
                  labore quem cillum quid cillum eram malis quorum velit fore
                  eram velit sunt aliqua noster fugiat irure amet legam anim
                  culpa.
                </p>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="assets/img/testimonial-3.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint
                  quorum nulla quem veniam duis minim tempor labore quem eram
                  duis noster aute amet eram fore quis sint minim.
                </p>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="assets/img/testimonial-4.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                  multos export minim fugiat minim velit minim dolor enim duis
                  veniam ipsum anim magna sunt elit fore quem dolore labore
                  illum veniam.
                </p>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img
                  src="assets/img/testimonial-5.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                  veniam tempor noster veniam enim culpa labore duis sunt culpa
                  nulla illum cillum fugiat legam esse veniam culpa fore nisi
                  cillum quid.
                </p>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
<app-footer></app-footer>
