<!-- <div class="container h-100">
  <div class="row justify-content-center h-100 align-items-center">
    <div class="col-md-6">
      <div class="authincation-content">
        <div class="row no-gutters row-log">
          <div class="col-xl-12">
            <div class="auth-form">
              <div class="text-center mb-3">
                <a href="/dashboard"><h1>NGOHUB</h1></a>
              </div>
              <h4 class="text-center mb-4">Sign in Your Account</h4>
              <form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
                <div class="container form-group">
                  <label for="email"><b>Email</b></label>
                  <input
                    class="form-control"
                    type="email"
                    placeholder="Enter Email"
                    name="email"
                    id="email"
                    required
                    [pattern]="emailPattern"
                    #email="ngModel"
                    [(ngModel)]="userDetails.Email"
                  />
                  <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert"
                  >
                    <div *ngIf="email.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors?.['pattern']">Invalid Email.</div>
                  </div>

                  <label for="Password"><b>Password</b></label>
                  <input
                    class="form-control"
                    type="Password"
                    placeholder="Enter Password"
                    name="Password"
                    id="Password"
                    required
                    #password="ngModel"
                    [(ngModel)]="userDetails.Password"
                  />

                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="alert"
                  >
                    <div *ngIf="password.errors?.['required']">
                      Password is required.
                    </div>
                  </div>
                  <hr />

                  <button type="submit" class="btn btn-primary btn-block">
                    Login
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>

                <div class="form-row d-flex justify-content-between mt-4 mb-2">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox ml-1">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="basic_checkbox_1"
                      />
                      <label class="custom-control-label" for="basic_checkbox_1"
                        >Remember</label
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="login-page">
  <!-- partial:index.partial.html -->
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>NGOHUB</h1>
        <p>A dedicated platform to see who needs your help</p>
        <span>
          <p>login with social media</p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"
            ><i class="fa fa-twitter" aria-hidden="true"></i> Login with
            Twitter</a
          >
        </span>
      </div>
    </div>

    <div class="right">
      <h5>Login</h5>
      <p class="desc">
        Login is required to proceed to the ngo dashboard. In case of issue in
        login contact support.
      </p>
      <div class="inputs">
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
          <div class="container form-group">
            <b>Email</b>
            <input
              class="form-control"
              type="email"
              placeholder="Enter Email"
              name="email"
              id="email"
              required
              [pattern]="emailPattern"
              #email="ngModel"
              [(ngModel)]="userDetails.Email"
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert"
            >
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['pattern']">Invalid Email.</div>
            </div>

            <b>Password</b>
            <input
              class="form-control"
              type="Password"
              placeholder="Enter Password"
              name="Password"
              id="Password"
              required
              #password="ngModel"
              [(ngModel)]="userDetails.Password"
            />

            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert"
            >
              <div *ngIf="password.errors?.['required']">
                Password is required.
              </div>
            </div>
            <hr />
            <div class="remember-me--forget-password">
              <!-- Angular -->
              <label>
                <input type="checkbox" name="item" checked />
                <span class="text-checkbox">Remember me</span>
              </label>
              <p>forget password?</p>
            </div>

            <br />

            <button type="submit" class="btn">
              Login
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </button>
          </div>
        </form>
      </div>

      <br /><br />
    </div>
  </div>
  <!-- partial -->
</div>
